<!DOCTYPE html>
<html>
<head  id="doc-head">
  <title><%= yield(:title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= yield :css  %>
  <%= csrf_meta_tags %>
</head>
<body  id="doc-body">
    <%= render 'layouts/header' %>
    <div role="main" id="main" class="container">
      <%= render 'layouts/leftSideBar' %>
      <%= render 'layouts/rightSideBar' %>
      <div class="row">
            <%= yield %>
      </div>
    </div>
   <!-- <%= render 'layouts/footer' %>-->
    <%= render 'shared/resources'%>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= yield :js %>
    <%= render 'layouts/shim' %>
    <!-- <%= debug(params) if Rails.env.development? %> -->
</body>
</html>
